<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Foods-List</title>
</head>

<body>
  <h1>Foods-List as of <%= time %>
  </h1>
  <ul>
    <% foods.forEach(food=> { %>
      <li>
        <form action="/foods/<%= food._id%>?_method=DELETE" class="delete-form" method="POST">
          <button type="submit">X</button>
        </form>
        <a href="foods/<%= food._id %>">
          <%= food.name %>
        </a>
        -
        <%= food.cuisine%>
        -
          <%= food.spicy ? 'spicy' : 'not spicy' %>
      </li>
      <% }) %>
  </ul>
  <a href="/foods/new">Add New Food</a>
</body>

</html>