<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>

<body>
  <h1>Foods</h1>
  <h2>Food #<%= food._id %>
  </h2>
  <a href="/foods/<%= food._id %>/edit">Edit</a>
  <h3>Food Name: <%= food.name %>
  </h3>
  <p>Cuisine: <%= food.cuisine %>
  </p>
  <p>Spicy: <%= food.spicy ? 'Yes' : 'No' %>
  </p>
  <a href="/foods">Go back</a>
</body>

</html>